html{
    background-color: black;
    scroll-behavior: smooth;
    /*cursor: url("icons8-cursor-24.png"), auto;*/
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.b{
    margin-top: 0%;
    padding-top: 12%;
    padding-bottom: 12%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.b{
    z-index: 2;
    background-color: black;
}
.e{
    z-index: 3;
}
.f{
    z-index: 4;
}
.c{
    z-index: 5;
    background-color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.g{
    z-index: 6;
}
.d{
    z-index: 7;
    margin-top: 5%;
    background-color: white;
}
.d h1{
    padding-top: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-family: monospace;
    font-size: 250px;
    padding-bottom: 15%;
    font-weight:900;
}
.c h1{
    display:flexbox;

    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 0%;
    text-align: center;
    color:black;
    font-family: monospace;
    font-size: 30px;
    font-weight:900;
}
.photos{
    margin-left: 25%;
    filter: drop-shadow(rgb(186, 175, 175) 1rem 1rem 10px);
    padding-bottom: 10%;
    display: flex;
    
    gap: 1rem;
    height: 500px;
    width: 50%;
}
.photos > div{
    flex: 1;
    transition: all 1s;
}
.photos >div:nth-child(1){
    background: url("WhatsApp\ Image\ 2024-05-29\ at\ 9.51.35\ AM.jpeg");
    background-position: center;
    background-size: cover;
}
.photos >div:nth-child(2){
    background: url("WhatsApp\ Image\ 2024-05-29\ at\ 9.51.35\ AM\ \(1\).jpeg");
    background-position: center;
    background-size: cover;
}
.photos >div:nth-child(3){
    background: url("WhatsApp\ Image\ 2024-05-29\ at\ 9.51.36\ AM.jpeg");
    background-position: center;
    background-size: cover;
}
.photos >div:hover{
    flex: 6;
}
.b h1{
    font-family: monospace;
    display: flex;
    color: #fff;
}

.a{
    padding: 0%;
    z-index: 1;
    background-color: #fff;
}
.front{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.front h1{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 100vh;
    font-weight: 900;
    mix-blend-mode: screen;

}
/*.a h1{
    margin-top: 0%;
    text-align: center;
    font-family: sans-serif;
    font-size: 250px;
    margin-bottom: 0%;
    font-weight:900;
   background-image: url("Capture.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
}*/
.top{
    
    position:fixed;
    width: 100%;
    padding: 20px;
    display:flex;
    
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-family: monospace;
    font-size: 35px;
    color: #808080;
    font-weight:900;
    text-decoration: none;
    font-weight:700;
}
.navbar a{
    font-family: monospace;
    font-size: 17px;
    color: #808080;
    text-decoration: none;
    margin-top: 200px;
    font-weight:700;
    margin-left: 10px;
    margin-right: 30px;
    transition: .5s;
}
.navbar a:hover{
    color: #000;
    /*cursor: url("icons8-cursor-24.png"), auto;*/
}
.d{
    padding-top: 100px;
    padding-left: 200px;
    padding-right:200px;
    padding-bottom: 100px;
}
.contact{
    color: black;
    display: flex;
    justify-content:space-around;
}
.contact a{
    display:flex;
    height: 90px;
    background: transparent;
    border-radius: 100%;
    font-size: 90px;
    color: black;
    text-decoration: none;
    z-index: 1;
    overflow:hidden;
    transition: .5s;
}
.contact a:hover{
    color: blueviolet;
  /*  cursor: url("icons8-cursor-24.png"), auto;*/
}
.box{
    width: 400px;
    height: 400px;
    margin-right: 1%;
    background-color: white;
    border-radius: 50%;
    /*transform: scale(1);
    animation: b 1s infinite alternate;*/
    
}
.i{

    filter: drop-shadow(black 1rem 1rem 10px);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    shape-outside: margin-box;
    scale: .65;
    transition: all 0.5s;
}
.i:hover{
    scale: 1;
}
.e{
    font-family: monospace;
    padding-bottom: 10%;
    background-color: white;
}
.e h2{
    font-family: monospace;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 15px;
}
.e h1{
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    color: black;
    font-weight: 900;

}
.e p{
    margin-left: 25%;
    text-align: left;
    font-size: 10px;
    font-family: monospace;
}
* {box-sizing:border-box}


.container {
    
    margin-left: 25%;
  width: 50%;
  background-color: #ddd; 
}

.skills {
  font-family: monospace;
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.C {width: 85%; background-color: #240750;}
.oops {width: 85%; background-color: #344C64;}
.py {width: 90%; background-color: #577B8D;}
.R {width: 90%; background-color: #57A6A1;}    
.html {width: 90%; background-color: #10439F;} 
.css {width: 90%; background-color: #874CCC;} 
.js {width: 65%; background-color: #C65BCF;} 
.react {width: 50%; background-color: #F27BBD;} 
.oracle {width: 60%; background-color: #49243E;} 
.sql {width: 50%; background-color: #704264;} 
.mysql {width: 50%; background-color: #BB8493;} 
.ap {width: 90%; background-color: #03AED2;}
.ca {width: 95%; background-color: #68D2E8;}
.fi {width: 65%; background-color: #54c9e0;}

.f{
    padding-top: 15%;
    padding-bottom: 15%;
    color: white;
    background-color:#040D12;
    font-family: monospace;
    
}
.f h1{
    font-family: monospace;
    padding-bottom: 5%;
    font-size: 20px;
    text-align: center;
    color: white;
}
.f p{
    font-family: monospace;
    font-size: 13px;
}
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: monospace;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    padding-top: 25%;
    background-color: #183D3D;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #5C8374;
    color: white;
    transform: rotateY(180deg);
  }

.card{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.i1{
    display:inline-flex;
    width: 17%;
    height: 17%;
    margin-bottom: 5%;
    padding-right: 5%;
    transform: scale(1);
    animation: a 1s infinite alternate;
    /*scale: 1;
    transition: all 0.5s;*/
}
/*.i1:hover{
    scale: 1.5;
}*/
.i2{
    width: 17%;
    height: 17%;
    padding-right: 5%;
    margin-bottom: 15%;
    transform: scale(1);
    animation: a 1s infinite alternate;
   /* scale: 1;
    transition: all 0.5s;*/
}
/*.i2:hover{
    scale: 1.5;
}*/
.i3{
    width: 17%;
    height: 17%;
    margin-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    /*scale: 1;*/
  /*  transition: all 0.5s;*/
    transform: scale(1);
    animation: a 1s infinite alternate;
}
@keyframes a {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

/*.i3:hover{
    scale: 1.5;
}*/
.i4{
    display:flexbox;
    margin-top: 0%;
    width: 17%;
    height: 17%;
    padding-right: 5%;
    margin-bottom: 10%;
    transform: scale(1);
    animation: a 1s infinite alternate;
    /*scale: 1;
    transition: all 0.5s;*/
}
/*.i4:hover{
    scale: 1.5;
}*/
.g{
    justify-content: space-between;
}
.g h1{
    text-align: right;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
    color: white;
    font-size: 80px;
    font-weight: 700;
}

#error-message {
    display: none;
    text-align: center;
    color: red;
}

#content {
    text-align: center;
}

.hidden {
    display: none;
}
.boxes1{
    width: 150px;
    height: 150px;
    
    margin-bottom: 20%;
    border-radius: 50%;
    background-color: white;
    transform: scale(1);
    animation: b 1s infinite alternate;
}
@keyframes b {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(0.7);
    }
}
.boxes2{
    width: 75px;
    height: 75px;
    
    background-color: white;
    margin-top: 10%;
    border-radius: 50%;
    transform: scale(1);
    animation: b 1s infinite alternate;
}
.boxes3{
    width: 75px;
    height: 75px;
    
    background-color: white;
    margin-top: 15%;
    border-radius: 50%;
    transform: scale(1);
    animation: b 1s infinite alternate;
}
